
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShoppingCart</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShoppingCart.styles.css" asp-append-version="true" />

    <!-- Favicon -->
    <link href="~/shop/img/favicon.ico" rel="icon">
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
   <link href="~/shop/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/shop/css/style.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" asp-append-version="true" />
    <link href="~/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <!-- Topbar Start -->
        <div class="container-fluid">
            <div class="row align-items-center py-3 px-xl-5">
                <div class="col-lg-3 d-none d-lg-block">
                    <a href="" class="text-decoration-none">
                        <h3 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>ShoppingCart</h3>
                    </a>
                </div>
                <div class="col-lg-6 col-6 text-left">
                    <form action="">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for products">
                            <div class="input-group-append">
                                <span class="input-group-text bg-transparent text-primary">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3 col-6 text-right">

                    @if(User?.Identity?.IsAuthenticated ?? false)
                    {
                        <a href="#" class="dropdown-toggle btn border text-primary" data-toggle="dropdown">@User.Identity.Name</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a asp-controller="Account" asp-action="Edit" class="dropdown-item text-primary">
                                Account
                                <i class="fas fa-file"></i>
                             </a>
                            <a asp-controller="Account" asp-action="Logout" class="dropdown-item text-primary">
                                Logout
                                <i class="fas fa-lock-open"></i>
                             </a>
                        </div>
                    }
                    else
                    {
                        <a asp-controller="Account" asp-action="Login" class="btn border text-primary">
                            <i class="fas fa-lock"></i>
                            <span class="badge">Login</span>
                        </a>
                    }
                    
                    <a href="" class="btn border text-primary">
                        <i class="fas fa-heart"></i>
                        <span class="badge">0</span>
                    </a>
                    <a asp-controller="Cart" asp-action="Index" class="btn border text-primary">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="badge">@ViewBag.NumberOfItems</span>
                    </a>
                </div>
            </div>
            <div class="row border-bottom border-5 justify-content-center">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a class="nav-item nav-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                            <a href="#" class="nav-item nav-link">Shop</a>
                            <a href="#" class="nav-item nav-link">Shop Detail</a>
                            <a href="#" class="nav-item nav-link">Contact</a>

                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-controller="Pages" asp-action="Dashboard" asp-area="Admin" class="nav-item nav-link text-danger">Admin Dashboard</a>
                            }
                            
                            
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Topbar End -->
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3 mt-5">
            @RenderBody()
        </main>
    </div>

   @* <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2023 - ShoppingCart - Oromtec
        </div>
    </footer>*@
   @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/shop/lib/easing/easing.min.js"></script>
    <script src="~/shop/lib/owlcarousel/owl.carousel.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js" asp-append-version="true"></script>

    <!-- Template Javascript -->
    <script src="~/shop/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
